<html>
    <head>
        <meta charset="utf-8">
        <title>영화 및 OTT 추천 웹 사이트</title>
        <style>
            h1{text-align:center;}
            h2{text-align:center;}
            form{text-align:center;}
            hr{
                width:50%;
                background-color:rgb(57, 111, 211);
                margin-left : auto;
                margin-right : auto;
            }
        </style>
    </head>
    <body>
        <h1>어떤 영화가 보고 싶으신가요?</h1>
        <h2>옵션에 맞게 영화와 OTT 플랫폼을 추천해 드릴게요!</h2>
        <hr size="7">
        <form method="post" action="/report">
            <input type="number" placeholder="유저아이디" id="id" name="id">
            <select name="time_unit" id="time_unit">
                <option value="0">1시간 이내</option>
                <option value="1">2시간 이내</option>
                <option value="2">2시간 이상</option>
                <option value="any">상관 없음</option>
            </select>
            <select name="country" id="country">
                <option value="한국">한국</option>
                <option value="미국">미국</option>
                <option value="일본">일본</option>
                <option value="중국">중국</option>
                <option value="스페인">스페인</option>
                <option value="프랑스">프랑스</option>
                <option value="영국">영국</option>
                <option value="독일">독일</option>
                <option value="인도">인도</option>
                <option value="이탈리아">이탈리아</option>
                <option value="any">상관 없음</option>
            </select>
            <select name="age_limit" id="age_limit">
                <option value="전체관람가">전체관람가</option>
                <option value="12세이상관람가">12세이상</option>
                <option value="15세이상관람가">15세이상</option>
                <option value="청소년관람불가">청소년관람불가</option>
                <option value="any">상관 없음</option>
            </select>
            <select name="genre" id="genre">
                <option value="드라마">드라마</option>
                <option value="다큐멘터리">다큐멘터리</option>
                <option value="코미디">코미디</option>
                <option value="액션">액션</option>
                <option value="애니메이션">애니메이션</option>
                <option value="스릴러">스릴러</option>
                <option value="공포(호러)">공포</option>
                <option value="멜로/로맨스">로맨스</option>
                <option value="any">상관 없음</option>
            </select>
            <input type="submit" value="추천 보기">
        </form>
    </body>
</html>